<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="com.softserveinc.softtour.entity.Country"/>
        <mapping class="com.softserveinc.softtour.entity.Favorite"/>
        <mapping class="com.softserveinc.softtour.entity.Feedback"/>
        <mapping class="com.softserveinc.softtour.entity.Food"/>
        <mapping class="com.softserveinc.softtour.entity.HistoryRecord"/>
        <mapping class="com.softserveinc.softtour.entity.HistoryRequest"/>
        <mapping class="com.softserveinc.softtour.entity.Hotel"/>
        <mapping class="com.softserveinc.softtour.entity.Region"/>
        <mapping class="com.softserveinc.softtour.entity.Role"/>
        <mapping class="com.softserveinc.softtour.entity.Tour"/>
        <mapping class="com.softserveinc.softtour.entity.User"/>
    </session-factory>
</hibernate-configuration>
